annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cryptography==48.0.0
dash==4.2.0rc2
dash-iconify==0.1.2
dash_mantine_components==2.7.0
deprecation==2.1.0
fastapi==0.136.1
Flask==3.1.3
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.13
importlib_metadata==9.0.0
itsdangerous==2.2.0
janus==2.0.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
multidict==6.7.1
narwhals==2.21.0
nest-asyncio==1.6.0
numpy==2.4.4
ollama==0.6.2
packaging==26.2
pandas==3.0.2
patsy==1.0.2
plotly==6.7.0
plotly-express==0.4.1
postgrest==2.31.0
propcache==0.5.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
realtime==2.31.0
requests==2.33.1
retrying==1.4.2
rich==15.0.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
starlette==1.0.0
statsmodels==0.14.6
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
tomli==2.4.1
tomli_w==1.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.46.0
websockets==15.0.1
Werkzeug==3.1.8
yarl==1.24.2
zipp==3.23.1
